.emoji-box {
    border-radius: 10px !important;
    cursor: pointer !important;
  }
  .emoji-sub-box{
    margin-right: 1.5% !important;
    margin-left: 1.5% !important;
    padding: 8px;
    display: inline-block !important;
    border-radius:20px;
    transition: all 0.3s ease;
    cursor: pointer !important;
    text-align: center;
  }
  .emoji-sub-box:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .emoji-box .emoji-img {
    width: 65px !important;
    height: 65px !important;
    border-bottom: solid 1px #4d100a85 !important ;
    cursor: pointer !important;
    border-radius: 50% !important;
    display: block !important;
    margin-bottom: 6px;
  }
  .emoji-box label{
    border-radius: 10px;
    padding: 3px;
  }